vault_matrix_domain:
vault_matrix_homeserver_generic_secret_key: 
vault_devture_postgres_connection_password:

# For OpenID connect 
vault_issuer:
vault_synapse_keycloak:

# For bridges
vault_matrix_synapse_ext_password_provider_shared_secret_auth_shared_secret:

# Telegram 
vault_matrix_mautrix_telegram_api_id: 
vault_matrix_mautrix_telegram_api_hash:

# Slack
vault_matrix_appservice_slack_control_room_id: 
vault_matrix_appservice_slack_puppeting_slackapp_client_id: 
vault_matrix_appservice_slack_puppeting_slackapp_client_secret: